# Reading Data
This shows usual procedures to capture the data.

In [20]:
import pandas as pd
import json
import pickle
import os

os.chdir('..\\src')
import data

## Text and Json Files

In [2]:
for i, line in data.read_txt(r'..\data\some_file.txt'):
        print('line {}: {}'.format(i, line))

movie = data.read_json(r'..\data\movie.json')

print('\nJson->Text\n', movie)
print('\nText->Json\n', json.dumps(movie, indent=4))

print('\nMovies from the 90s')
for title in data.read_jsonl(r'..\data\movies-90s.jsonl'):
    print(title)

line 0: This is some file
line 1: It has a few line
line 2: This is the last line

Json->Text
 {'title': 'Fight Club', 'watched': True, 'year': 1999, 'actors': ['Brad Pitt', 'Edward Norton', 'Helena Bonham Carter']}

Text->Json
 {
    "title": "Fight Club",
    "watched": true,
    "year": 1999,
    "actors": [
        "Brad Pitt",
        "Edward Norton",
        "Helena Bonham Carter"
    ]
}

Movies from the 90s
Simple Text File
Fight Club
Goodfellas
Forrest Gump

## CSV Files

In [5]:
fname = r'..\data\data.csv'
print('\nCSV File')
csv = data.read_csv(fname)
for line in csv:
    print(line)

CSV File
{'NAME': 'Alice', 'AGE': '30', 'LANGUAGE': 'English'}
{'NAME': 'Bob', 'AGE': '25', 'LANGUAGE': 'Spanish'}
{'NAME': 'Charlie', 'AGE': '35', 'LANGUAGE': 'French'}

## Pickle Files
For storing more complex objects

In [18]:
import pickle
x = [1,'b',3.14]
with open('test.pickle','wb') as f:
    pickle.dump(l,f)
with open('test.pickle','rb') as f:
    y = pickle.load(f)
print(x,y,x==y)

[1, 'b', 3.14] [1, 'b', 3.14] True

## Importing with Pandas

In [22]:
data = pd.read_json(r'..\data\movie.json')
data

                 actors       title  watched  year
0             Brad Pitt  Fight Club     True  1999
1         Edward Norton  Fight Club     True  1999
2  Helena Bonham Carter  Fight Club     True  1999

In [32]:
data = pd.read_json(r'..\data\movies-90s.jsonl', lines=True)
data

,actors,title,watched,year
0,"[Brad Pitt, Edward Norton, Helena Bonham Carter]",Fight Club,True,1999
1,"[Robert De Niro, Ray Liotta, Joe Pesci]",Goodfellas,True,1990
2,"[Tom Hanks, Robin Wright]",Forrest Gump,True,1994

In [33]:
data = pd.read_csv(r'..\data\data.csv')
data

      NAME  AGE LANGUAGE
0    Alice   30  English
1      Bob   25  Spanish
2  Charlie   35   French